<!--=====================================================
	Main Dashboard
===================================================== -->
<div class="row">
	<section class="twelve columns container">	
	<header class="main-page-header">
		Dashboard	
	</header>
	<p>Welcome to your dashboard. View all data relevant to your call centre.</p>	

	<!--=====================================================
		Dashboard Quick Stats
	===================================================== -->

	<table class="statistics-table">
    <thead>
  	  <th>Active Employees</th>
      <th>Avg Daily Call Load</th>
      <th>Avg Call Duration</th>
      <th>Success Percentage</th>
    </thead>
    <tr class="values">
      <td><%= active_employees_display %></td>
      <td><%= calls_per_day %></td>
      <td><%= avg_call_duration_refactor %></td>
      <td><%= success_percentage %>%</td>
    </tr>
    <tr class="comparison">
      <td><%= link_to "View Employees", employees_path %></td>
      <td>No Messages</td>
      <td><%= link_to "View Log", calls_path %></td>
      <td>No Messages</td>
    </tr>
  </table>

	</section>
</div>

<div class="row">



<div class="six columns container charting">
  <header>
    Monthly Call Volume
    <p class="chart-description"> >> total calls per month</p>
  </header>
  <div id="chart-container">
    <canvas id="chart-bookings-per-month" width="300" height="200"></canvas>
  </div>
</div>

<div class="six columns container charting">
  <header>
    Monthly Traffic Intensity
    <p class="chart-description"> >> average occupancy of call centre per month</p>
  </header>
  <div id="chart-container">
    <canvas id="chart-bookings" width="300" height="200"></canvas>
  </div>
</div>


</div>







