<!--=====================================================
	Main Dashboard
===================================================== -->
<div class="row">
	<section class="twelve columns container">	
	<header class="main-page-header">
		Dashboard	
	</header>
	<p>Welcome to your dashboard. View all data relevant to your call centre.</p>	

	<!--=====================================================
		Dashboard Quick Stats
	===================================================== -->

	<table class="dashboard-stats">
    <thead>
  	  <th>Active Employees</th>
      <th>Avg Daily Call Load</th>
      <th>Avg Call Duration</th>
      <th>Success Percentage</th>
    </thead>
    <tr id="performance-values">
      <td><%= active_employees_display %></td>
      <td><%= calls_per_day %></td>
      <td><%= avg_call_duration_refactor %></td>
      <td><%= success_percentage %>%</td>
    </tr>
    <tr id="performance-comparison">
      <td><%= link_to "View Employees", employees_path %></td>
      <td>No Messages</td>
      <td><%= link_to "View Log", calls_path %></td>
      <td>No Messages</td>
    </tr>
  </table>

	</section>
</div>

<div class="row">
<!--
<div class="six columns container">
  <header class="main-page-header">
    Call Volume ( Sep '13 - Sep '14 )
  </header>

<div class="chart-cointainer">
  <canvas id="line-graph" width="2" height="2"></canvas>
  <script>
        var lineChartData = {
          labels : ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov", "Dec"],
          datasets : [
            {
              label: "My Second dataset",
              fillColor : "rgba(151,187,205,0.2)",
              strokeColor : "rgba(151,187,205,1)",
              pointColor : "rgba(151,187,205,1)",
              pointStrokeColor : "#fff",
              pointHighlightFill : "#fff",
              pointHighlightStroke : "rgba(151,187,205,1)",
              data : <%= monthly_calls %>
            }
          ]

        }

      window.onload = function(){
        var ctx = document.getElementById("line-graph").getContext("2d");
        myLine = new Chart(ctx).Line(lineChartData, {
          responsive: true,
          animation: false,
          scaleFontColor: "#373737"
        });
      }
  </script>
</div>  


</div>
-->


<div class="six columns container">
  <header class="main-page-header">
    Morris
  </header>

  <div class="chart-cointainer">
    <div id="myfirstchart" style="height: 250px;"></div>
  </div>

  <script>
    new Morris.Line({
      // ID of the element in which to draw the chart.
      element: 'myfirstchart',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: [
        { year: '2008', value: 20 },
        { year: '2009', value: 10 },
        { year: '2010', value: 5 },
        { year: '2011', value: 5 },
        { year: '2012', value: 20 }
      ],
      // The name of the data record attribute that contains x-values.
      xkey: 'year',
      // A list of names of data record attributes that contain y-values.
      ykeys: ['value'],
      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: ['Value']
    });


  </script>


</div>
</div>






