<!--=====================================================
	Main Dashboard
===================================================== -->
<div class="row">
	<section class="twelve columns container">	
	<header class="main-page-header">
		Dashboard	
	</header>
	<p>Welcome to your dashboard. View all data relevant to your call centre.</p>	

	<!--=====================================================
		Dashboard Quick Stats
	===================================================== -->

	<table class="dashboard-stats">
    <thead>
  	  <th>Active Employees</th>
      <th>Avg Daily Call Load</th>
      <th>Avg Call Duration</th>
      <th>Success Percentage</th>
    </thead>
    <tr id="performance-values">
      <td><%= active_employees_display %></td>
      <td><%= calls_per_day %></td>
      <td><%= avg_call_duration_refactor %></td>
      <td><%= success_percentage %>%</td>
    </tr>
    <tr id="performance-comparison">
      <td><%= link_to "View Employees", employees_path %></td>
      <td>No Messages</td>
      <td><%= link_to "View Log", calls_path %></td>
      <td>No Messages</td>
    </tr>
  </table>

	</section>
</div>




