<!-- Message to the User -->
<% flash.each do |key, value| %>
  <div class="flash session-flash alert alert-<%= key %>"><%= h(value) %></div>
<% end %>

<section id="reset" class="row">
<!-- Group Logo -->
<header>
	<%= link_to image_tag("favicon3.png"), root_path, :title => "Dimension Data WFMS" %>
	<p>WFMS Forgotten Password</p>
</header>

<!-- Form for Resetting Password -->
 <%= form_tag password_resets_path, :method => :post do %> 
    
	<ul id="Mail Details">
		<li>
			<span class="adjoined"><i class="fa fa-envelope"></i></span>
			<%= text_field_tag :email, params[:email], :required => true, :placeholder => "Enter your email here" %> 
		</li>
	</ul>
    
	<div>
	
	 <br>
      <div class="actions"><%= submit_tag "Reset Password" %></div>
    </div>
	
  <% end %>
  
<!-- Link to retrieve lost password -->
<p id="forgot-password">
	<%= link_to 'Sign In', signin_path %> | 
	<%= link_to 'Contact Administrator', contacts_path %> | 
	<%= link_to 'Request Account', requests_path %>
</p>
 
</div>
