<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="general-form">
    <li><%= f.label "First Name" %> <br>
      <%= f.text_field :employee_fname, :placeholder => "First Name" %>
    </li>

    <li><%= f.label "Last Name" %> <br>
      <%= f.text_field :employee_lname, :as => "Last Name", :placeholder => "Last Name" %>
    </li>

    <li><%= f.label "Employment Commencement" %><br>
      <%= f.date_select :employee_started %>
    </li>

    <li><%= f.label "Contact Number" %><br>
      <%= f.text_field :employee_contact_num, :placeholder => "Contact Number" %>
    </li>

    <li><%= f.label "Email Address" %><br>
      <%= f.text_field :employee_email, :placeholder => "Email Address" %>
    </li>

     <li><%= f.label "Religion" %><br>
     <select name="employee[religion_id]">
      <% @religions.each do |religion| %>
        <option value = <%= religion.id %> ><%= religion.religion_name.capitalize %></option>
      <% end %>
     </select>
    </li>
  </ul>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
