<% if signed_in?  %>
	<div id="timedate">
		<div id="clock"></div><!-- /clock -->
		<div id="date"><%= Time.now.strftime("%a, %e %B %Y") %></div><!-- Date -->
	</div>	
<% end %>

<section id="main-navigation">	
	<nav>
		<ul>
			<% if current_user.role_id == 2 %>

				<li class="top-level"><span><i class="fa fa-bars fa-fw"></i> Dashboard</span></li>
					<ul class="second-level">
						<%= nav_link("Home", dashboard_index_path) %>
					</ul>

				<li class="top-level"><span><i class="fa fa-bars fa-fw"></i> Employees</span></li>
					<ul class="second-level">
						<%= nav_link("New Employee", new_employee_path) %>
						<%= nav_link("View All", employees_path) %>
						<%= nav_link("Import Employees", employee_import_path) %>
					</ul>
				
				<li class="top-level"><span><i class="fa fa-bars fa-fw"></i> Calls</span></li>
					<ul class="second-level">
						<%= nav_link("Call Log", calls_path) %>
					</ul>
				
				<!--
				<li class="top-level"><span><i class="fa fa-bars fa-fw"></i> Scheduler</span></li>
				<li class="top-level"><span> <i class="fa fa-bars fa-fw"></i> Settings</span></li>
					<ul class="second-level">
						<li>Allocate Employees</li>
						<li>Targets</li>
						<li>System</li>
						<li>About</li>
					</ul>
				
				-->

			<% elsif current_user.role_id == 1 %>
				<li class="top-level"><span><i class="fa fa-bars fa-fw"></i> Dashboard</span></li>
					<ul class="second-level">
						<%= nav_link("Home", administration_path) %>
					</ul>
				

				<li class="top-level"><span><i class="fa fa-bars fa-fw"></i> Users</span></li>
					<ul class="second-level">
						<li><%= link_to "New User", new_user_path %></li>
						<li><%= link_to "View All", users_path %></li>
					</ul>
				
				<li class="top-level"><span><i class="fa fa-bars fa-fw"></i> Configuration</span>
					<!--
					<ul class="second-level">
						<li>New</li>
						<li>View All</li>
					</ul>
					-->
				</li>
				<li class="top-level"><span><i class="fa fa-bars fa-fw"></i> System Details</span>
					
				</li>

			<% end %>
		</ul>
	</nav>
</section><!-- main-navigation -->
