<!DOCTYPE html>
<html>
<head>
  <title>Dimension Data WFMS </title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => false %>
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.5.1.css">


  <%= favicon_link_tag 'dd_fav.png' %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= bodytag_id %>">
	

	<% if signed_in? %>
		<% if current_user.role_id == 2 || current_user.role_id == 1 %>
			<%= render :partial => "layouts/application_header" %>
			<%= render :partial => "layouts/application_sidebar" %>

			<!-- Message to the User -->
			<% flash.each do |key, value| %>
				<div class="flash alert alert-<%= key %>"><%= h(value) %></div>
			<% end %>

			<section id="content">

			<% if current_user.role_id == 2 %>
				<div class="row">

					<div class="header-element" id="search">
						
						<%= form_tag(employees_path, :method => "get", id: "search-form") do %>
  						<%= text_field_tag :search, params[:search], placeholder: "Search Employees" %>
  						<%= button_tag(type: 'submit', :class => 'submit')  do %>
  							<i class='fa fa-search'></i>
  						<% end %>
  					<% end %>

					</div><!-- /search -->
				
				</div>
			<% end %>

				<div class="row">		
					<%= yield %>
				</div>	

			</section><!-- /content -->		
		<% end %>
	<% else %>	
		<%= yield %>
	<% end %>

	<!-- Load JS after the page content -->
	
	<%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css", media: "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans", media: "all" %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.5.1.min.js"></script>
	<%= javascript_include_tag "application", "data-turbolinks-track" => false %>
	


</body>
</html>
